{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    
    <h1>images : </h1>
    {% for song in songs %}
        <!-- i don't know why this doesn't work -->
        <!-- <img src= "{% static 'albums/' + '{{song.song_img}}' %}" height="500" , width="500" , alt="image" > -->
        <img src="{% static 'albums/data/images/001.png' %}" height="500" , width="500">
    {% endfor %}
</body>
</html>